@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" ng-controller="TicTacToeCtrl">
    <div class="row-fluid">
        <h1>Hello Tic-Tac-Toe</h1>
    </div>
    <br /><br />
    <div class="row-fluid">
        <div class="span5">
            <div class="form-horizontal">
                <label>Name: </label>
                <input type="text" ng-model="playerName" />
                <label>Game: </label>
                <input type="text" ng-model="gameName" />
                <br /><br />
                <input type="submit" value="StartOrJoinGame" ng-click="startOrJoinGame()" />
            </div>
        </div>
        <div class="span7">
            
            @*<button ng-click="test()">Test</button>*@
            
            <button ng-click="refreshCallBack()">Update</button>

            <div ng-repeat="row in rows" class="row">
                <div id="{{column.id}}" ng-repeat="column in row">
                    <div ng-click="markUserClick(column)" class="cell">{{column.letter}}</div>
                </div>
            </div>
            
            <br /><br />
            
            <table>
                <tr>
                    <td></td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>A1</td>
                    <td>B1</td>
                    <td>C1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>A2</td>
                    <td>B2</td>
                    <td>C2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>A3</td>
                    <td>B3</td>
                    <td>C3</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@