@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" ng-controller="TicTacToeCtrl">
    <div class="row-fluid">
        <h1>Tic-Tac-Toe</h1>
    </div>
    <br /><br />
    
    <table class="table table-bordered">
        <tr>
            <td colspan="2">
                <strong>Current Name:</strong> {{gameName}}
            </td>
        </tr>
        <tr>
            <td>
                <div class="span4">
                    <div class="form-horizontal">
                        <strong>Player Name: </strong> <input type="text" ng-model="playerName" ng-disabled="controlsDisabled" />
                        <br /><br />
                        <strong>Game Name: </strong> <input type="text" ng-model="gameName" ng-disabled="controlsDisabled" />
                        <br /><br />
                        <input type="button" value="StartOrJoinGame" ng-click="startOrJoinGame()" ng-disabled="controlsDisabled" />
                    </div>
                </div>
            </td>
            <td>
                <div class="span4">
                    <div ng-repeat="row in rows" class="row">
                        <div id="{{column.id}}" ng-repeat="column in row">
                            <div ng-click="markUserClick(column)" class="cell">{{column.letter}}</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>